/* Estilo de los filtros */
.filtros {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

/* Estilo de los botones de filtro */
.filtros button {
    background: #ccc;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 20px;
    color: #555;
    transition: background-color 0.3s ease, color 0.3s ease; /* Añadir transición para mejor efecto visual */
}

/* Estilo cuando el filtro está en hover */
.filtros button:hover {
    background-color: #555;
    color: #ccc;
}
