/* Contenedor principal de los platos */
.menu-plato {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales en pantallas grandes */
    gap: 20px; /* Espacio entre los platos */
    padding: 20px;
}

/* Estilo de cada plato */
.plato {
    background: none;
    border: 2px solid #aaa;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Imagen del plato */
.imagen-plato img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Botón para agregar un plato */
.add_plato {
    background: none;
    outline: none;
    border: 2px solid #aaa;
    border-radius: 8px;
    font-size: 78px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/* Título del plato */
.titulo {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

/* Estilo para el precio de cada plato */
h3 {
    font-size: 1em;
    color: #777;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .menu-plato {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
}
