/* src/Header.css */
header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    color: #ccc;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

header nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #555;
}

header nav ul li:last-child a {
    border-radius: 50%;
}

nav ul li.perfil a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

/* src/Main.css */
main {
    padding: 2rem;
}

.contenedor-main {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.descripcion {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.descripcion-texto {
    font-size: 1rem;
    line-height: 1.6;
    color: #ccc;
}

.image-restaurante {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-restaurante img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.indicadores {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}

.indicadores li {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
}

/* src/Article.css */
article {
    padding: 2rem;
    background: none;
    border: 1px solid #ccc;
    margin-top: 2rem;
}

article h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ccc;
}

.container-plato {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.plato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
}
